body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    color: #343132;
    background-color: #eeeeee;
    height: 1000px;

}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.row{
    background-color: rgba(211, 211, 211, 0.5);
    margin-top: 20px;
    padding-left: 38px;

}
.input-group h2 {
    padding-bottom: 30px;
    margin-top: 30px;
}

.bili h3{
    padding-bottom: 30px;
    padding-top: 41px;
}
.icon{
    float: right;
    margin-top: -697px;
    margin-right: 191px;
}
.payment h3{
    padding-top: 20px;
}
.payment p{
    margin-top: -10px;
    padding-bottom: 10px;
}
.payment2{
    padding-top: 10px;
}
.payment2 p{
    margin-top: -46px;
    padding-bottom: 7px;
}
.payment3 p{
    padding-top: 5px;
    padding-bottom: 12px;
}
.payment4 p{
    padding-top: 5px;
    padding-bottom: 12px;
}
.payment5 p{
    padding-top: 5px;
    padding-bottom: 12px;
}
.payment6 p{
    padding-top: 18px;
    padding-bottom: 12px;
}
.action{
    padding-top: 6px;
    margin-bottom: 33px;
}
.myButton {
    background-color: #44c767;
    border-radius: 16px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    padding: 12px 76px;
    text-decoration: none;
    text-shadow: -1px -1px 20px #2f6627;
    margin-top: 38px;
}

.myButton:hover {
    background-color: #5cbf2a;
}
.myButton:active {
    position: relative;
    top: 1px;
}
.squaredcheck{
    padding-top: 20px;
}




